{%- macro infobox(BOOK_IMAGE, AUTHORS, BOOK_TITLE, SUBTITLE, LANGUAGE, GENRE, PUBLISHER, PUBLISHED_YEAR, PAGE_COUNT, DIMENSIONS, ISBN13, ISBN10, OCLC) -%}
	{{- '{{infobox' -}}
	{{- '\n' -}}
	{%- if BOOK_IMAGE != '' -%}
		{{- '| image = [[File:{}|thumb|187x187px|centre]]'.format(BOOK_IMAGE) -}}
		{{- '\n' -}}
	{%- endif -%}
	{{- '| title = {}'.format(BOOK_TITLE) -}}
	{{- '\n' -}}
	{%- if AUTHORS != '' -%}
        {{- '| header2 = ' -}}
	    {{- '\n' -}}
	    {{- '| label2 = {}'.format('రచయిత') -}}
	    {{- '\n' -}}
        {{- '| data2 = {}'.format(AUTHORS|join(', ')) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if BOOK_TITLE != '' -%}
	    {{- '| header3 = ' -}}
	    {{- '\n' -}}
	    {{- '| label3 = {}'.format('పుస్తకం పేరు') -}}
	    {{- '\n' -}}
	    {{- '| data3 = {}'.format(BOOK_TITLE) -}}
	    {{- '\n' -}}
	{%- endif -%}

	{%- if LANGUAGE != '' -%}
	    {{- '| header5 = ' -}}
	    {{- '\n' -}}
	    {{- '| label5 = {}'.format('భాష') -}}
	    {{- '\n' -}}
		{%- if LANGUAGE == 'ఆంగ్ల' -%}
			{{- '| data5 = {}'.format('ఆంగ్లము') -}}
		{%- else -%}
			{{- '| data5 = {}'.format(LANGUAGE) -}}
		{%- endif -%}
		{{- '\n' -}}
	{%- endif -%}
	
	{%- if GENRE != '' -%}
	    {{- '| header6 = ' -}}
	    {{- '\n' -}}
	    {{- '| label6 = {}'.format('శైలి') -}}
	    {{- '\n' -}}
	    {{- '| data6 = {}'.format(GENRE) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if PUBLISHER != '' -%}
	    {{- '| header7 = ' -}}
	    {{- '\n' -}}
	    {{- '| label7 = {}'.format('ప్రచురణకర్త') -}}
	    {{- '\n' -}}
	    {{- '| data7 = {}'.format(PUBLISHER) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if PUBLISHED_YEAR != '' -%}
	    {{- '| header8 = ' -}}
	    {{- '\n' -}}
	    {{- '| label8 = {}'.format('ప్రచురణ తేదీ') -}}
	    {{- '\n' -}}
	    {{- '| data8 = {}'.format(PUBLISHED_YEAR) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if PAGE_COUNT != '' -%}
	    {{- '| header9 = ' -}}
	    {{- '\n' -}}
	    {{- '| label9 = {}'.format('పేజీలు') -}}
	    {{- '\n' -}}
	    {{- '| data9 = {}'.format(PAGE_COUNT) -}}
	    {{- '\n' -}}
	{%- endif -%}

	{%- if DIMENSIONS != '' -%}
	    {{- '| header10 = ' -}}
	    {{- '\n' -}}
	    {{- '| label10 = {}'.format('కొలతలు') -}}
	    {{- '\n' -}}
	    {{- '| data10 = {}'.format(DIMENSIONS) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if ISBN13 != '' -%}
	    {{- '| header11 = ' -}}
	    {{- '\n' -}}
	    {{- '| label11 = {}'.format('ISBN-13') -}}
	    {{- '\n' -}}
	    {{- '| data11 = {}'.format(ISBN13) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if ISBN10 != '' -%}
	    {{- '| header12 = ' -}}
	    {{- '\n' -}}
	    {{- '| label12 = {}'.format('ISBN-10') -}}
	    {{- '\n' -}}
	    {{- '| data12 = {}'.format(ISBN10) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if OCLC != '' -%}
	    {{- '| header13 = ' -}}
	    {{- '\n' -}}
	    {{- '| label13 = {}'.format('OCLC') -}}
	    {{- '\n' -}}
	    {{- '| data13 = {}'.format(OCLC) -}}
	    {{- '\n' -}}
	{%- endif -%}
	{{- '}}' -}}
	{{- '\n' }}
{%- endmacro -%}

{%- macro introduction(BOOK_TITLE, SUBTITLE, PUBLISHED_YEAR, BOOK_TITLE_ENGLISH, AUTHORS_INTRO, PUBLISHER, PUBLISHER_ENGLISH, LANGUAGE, GENRE, BOOK_AWARDS) -%}
	{%- if BOOK_TITLE != '' and SUBTITLE != '' -%}
		{{- "'''{}''' ({}) ".format(BOOK_TITLE, BOOK_TITLE_ENGLISH) -}} 
		{{- [
			'అనే పుస్తకం (ఉప శీర్షిక: {}) '.format(SUBTITLE), 
			'అనే పేరుగల పుస్తకం (ఉప శీర్షిక: {}) '.format(SUBTITLE) ]|random -}}
	{%- elif BOOK_TITLE != '' -%}
		{{- "'''{}''' ({}) ".format(BOOK_TITLE, BOOK_TITLE_ENGLISH) -}} 
		{{- [
			'అనే పుస్తకం ', 
			'అనే పేరుగల పుస్తకం ' ]|random -}}
	{%- endif -%}

	{%- if PUBLISHED_YEAR != '' -%}
		{{- '{} లో ప్రచురితమైనది. '.format(PUBLISHED_YEAR) -}}
	{%- endif -%}

	{%- if AUTHORS_INTRO != '' -%}
		{{- [
			' ఈ పుస్తకమును {} '.format(AUTHORS_INTRO|join(', ')),
			' {} ఈ పుస్తకాన్ని '.format(AUTHORS_INTRO|join(', ')) 
			]|random -}}
	{%- endif -%}

	{%- if GENRE !='' -%}
	{{- [
			' {} శైలిలో రచించారు. '.format(GENRE),
			' {} శైలిలో రాశారు. '.format(GENRE) 
			]|random -}}
	{%-endif-%}

	{%- if PUBLISHER != '' and PUBLISHER_ENGLISH != '' and LANGUAGE!= '' -%}
		{{- [
			'{} ({}) సంస్థ ఈ పుస్తకాన్ని {} భాషలో ముద్రించింది. '.format(PUBLISHER, PUBLISHER_ENGLISH, LANGUAGE), 
			'{} ({}) సంస్థ {} పుస్తకాన్ని {} భాషలో ప్రచురించింది.  '.format(PUBLISHER, PUBLISHER_ENGLISH,BOOK_TITLE,LANGUAGE) ]|random -}}
	{%- endif -%}

	{%- if BOOK_AWARDS != '' -%}
		{{- [
			'ఈ పుస్తకానికి {} అనే పురస్కారం లభించింది.'.format(BOOK_AWARDS[0])
			]|random -}}
	{%- endif -%}
	{{- '\n' -}}
{%- endmacro -%}

{%- macro characters_and_summary(CHARACTERS, BOOK_SUMMARY) -%}
	{{- '==పుస్తక వివరాలు==' -}} 
	{{- '\n' -}}
    {%- if BOOK_SUMMARY != '' -%}
		{{- '===కథ===' -}}
		{{- '\n' -}}
		{{- '{}'.format(BOOK_SUMMARY) -}}
		{{- '\n' -}}
	{%- endif -%}
	{%- if CHARACTERS != '' -%}
		{{- '===పాత్రలు===' -}}
		{{- '\n' -}}
		{{- 'ఈ పుస్తకంలో పాత్రలు'-}}
		{{- '\n' -}}
		{%- if CHARACTERS|length > 10 -%}
			{%- set CHARACTERS = CHARACTERS[:10]-%}
		{%- endif -%}
		{%- for i in CHARACTERS -%}
			{{- '{}'.format(i) -}}
			{{- '\n' -}}
		{%- endfor -%}
    {%- endif -%}
{%- endmacro -%}

{%- macro about_the_author(LANGUAGE, AUTHOR_NAME, AUTHOR_NAME_ENGLISH, AUTHORS_INTRO, AUTHOR_NATIONALITY, AUTHOR_EDUCATION, AUTHOR_STATS, AUTHOR_LIBRARY_HOLDINGS, AUTHOR_GENRE, AUTHOR_NOTABLE_WORKS, AUTHOR_AWARDS, AUTHORS) -%}
    {{- "==రచయిత==" -}}
	{{- '\n\n' -}}
	{%- if AUTHOR_IMAGE != '' -%}
		{{- '[[File:{}|thumb|187x187px|రచయిత - {}]]'.format(AUTHOR_IMAGE, AUTHOR_NAME) -}}
	{%- endif -%}

	{# we've been told to remove this block but I'm not sure if we should #}
	{#
	{%- if AUTHORS|length >1 -%}
		{{- 'ఈ పుస్తకాన్ని రచించింది {}. '.format(AUTHORS_INTRO|join(', '))-}}
		{{-	 ' ఇది {} పుస్తకం. '.format(LANGUAGE) -}}
		{{- "\n" -}}
	{%- endif -%}
	#}
	{# we've been told to remove this block but I'm not sure if we should #}

	{%- if AUTHOR_NAME != '' and AUTHOR_NATIONALITY != ''-%}
		{{- [
			'{} {} దేశానికి చెందిన వారు. '.format(AUTHOR_NAME, AUTHOR_NATIONALITY), 
			'{} {} దేశ వాస్తవ్యులు. '.format(AUTHOR_NAME, AUTHOR_NATIONALITY) ]|random -}}
	{%- endif -%}

    {%- if AUTHOR_EDUCATION != '' -%}
        {%- if AUTHOR_EDUCATION != 'private education' -%}
            {{- [
				'వారు {} లో విద్యాభ్యాసం పూర్తి చేశారు. '.format(AUTHOR_EDUCATION), 
            	'వారు {} లో చదువుకున్నారు. '.format(AUTHOR_EDUCATION) ]|random -}}
        {%-endif-%}    
    {%-endif-%}

    {%- if AUTHOR_STATS != '' and AUTHOR_LIBRARY_HOLDINGS != '' -%}
        {{- '{} రచించిన వీరి పేరిట {} లైబ్రరీ హోల్డింగ్స్ కలవు. '.format(AUTHOR_STATS, AUTHOR_LIBRARY_HOLDINGS) -}}
    {%- endif -%}

	{%- if AUTHOR_GENRE != "" -%}
		{{- '{} {} సాహిత్య రచయితగా కీర్తికెక్కారు. '.format(AUTHOR_NAME, AUTHOR_GENRE|join(', ')) -}}
	{%- endif -%}

	{%- if AUTHOR_NOTABLE_WORKS != '' -%}
		{%- if AUTHOR_NOTABLE_WORKS|length == 1 -%}
			{{- 'వారు చేసిన రచనలలో {} ప్రఖ్యాతి చెందినది.'.format(AUTHOR_NOTABLE_WORKS[0) -}}
		{%- elif AUTHOR_NOTABLE_WORKS|length > 1 -%}
			{{- 'వారు చేసిన రచనలలో {} ప్రఖ్యాతి చెందినవి.'.format(AUTHOR_NOTABLE_WORKS|join(', ')) -}}
		{%- endif -%}
	{%- endif -%}

    {%- if AUTHOR_AWARDS != '' -%}
        {%- if AUTHOR_AWARDS|length > 1 -%}
            {{- [
				'వారి రచనలకి పురస్కారాలు లభించాయి. వాటిలో ముఖ్యమైనవి{}. '.format(AUTHOR_AWARDS|join(', ')), 
				'వారికి లభించిన పురస్కారాలలో ముఖ్యమైనవి {}. '.format(AUTHOR_AWARDS|join(', ')) ]|random -}}    
        {%- elif AUTHOR_AWARDS|length == 1 -%}
            {{- 'వారు {} పురస్కారాన్ని పొందారు. '.format(AUTHOR_AWARDS[0]) -}}
        {%- endif -%}
    {%- endif -%}
	{{- '\n' -}}
{%- endmacro -%}

{%- macro book_ratings(MATURITY_RATING, MATURITY_RATING_ENGLISH, AMAZON_RATING, AMAZON_RATINGS_COUNT, GOODREADS_RATING, GOODREADS_RATINGS_COUNT, GOOGLE_BOOKS_RATING, GOOGLE_BOOKS_RATINGS_COUNT, LIBRARYTHING_RATING, LIBRARYTHING_REVIEWS_COUNT) -%}
    {{- '==రేటింగ్స్==' -}}
	
	{{- '\n' -}}

	{%- if MATURITY_RATING != '' and MATURITY_RATING_ENGLISH != '' -%}
	{{- [
		"ఈ పుస్తకానికి {} ({}) అనే రేటింగ్ కేటాయించబడినది. ".format(MATURITY_RATING, MATURITY_RATING_ENGLISH), 
		"ఈ పుస్తకానికి {} ({}) అనే రేటింగ్ ఇవ్వబడినది. ".format(MATURITY_RATING, MATURITY_RATING_ENGLISH) ]|random -}}
	{%- endif -%}
	
	{{- '\n' -}}

    {%- if (AMAZON_RATING != '' and AMAZON_RATINGS_COUNT != '') or (GOODREADS_RATING != '' and GOODREADS_RATINGS_COUNT != '') or (GOOGLE_BOOKS_RATING != '' and GOOGLE_BOOKS_RATINGS_COUNT != '') or (LIBRARYTHING_RATING != '' and LIBRARYTHING_REVIEWS_COUNT != '') -%}
		{%- set temp = [] -%}
		{%- if AMAZON_RATING != '' and AMAZON_RATINGS_COUNT != '' -%}
			{%- set useless = temp.append("అమెజాన్") -%}
		{%- endif -%}

		{%- if GOODREADS_RATING != '' and GOODREADS_RATINGS_COUNT != '' -%}
			{%- set useless = temp.append("గుడ్‌రీడ్స్") -%}
		{%- endif -%}

		{%- if GOOGLE_BOOKS_RATING != '' and GOOGLE_BOOKS_RATINGS_COUNT != '' -%}
			{%- set useless = temp.append("గూగుల్ బుక్స్") -%}
		{%- endif -%}

		{%- if LIBRARYTHING_RATING != '' and LIBRARYTHING_REVIEWS_COUNT != '' -%}
			{%- set useless = temp.append("లైబ్రరీథింగ్") -%}
		{%- endif -%}

		{%- if temp|length > 2 -%}
			{{- "{} మరియు ఇతర వెబ్సైట్లలో ఈ పుస్తకానికి లభించిన రేటింగ్స్ క్రింద వివరించబడినవి. ".format(temp[:2]|join(', ')) -}}
			{{- '\n' -}}
		{%- elif temp|length == 2 -%}
			{{- "{} వెబ్సైట్లలో ఈ పుస్తకానికి లభించిన రేటింగ్స్ క్రింద వివరించబడినవి. ".format(temp[:2]|join(', ')) -}}
			{{- '\n' -}}
		{%- endif -%}

		{%- if temp|length >= 2 -%}
			{%- set BULLET = '* ' -%}
		{%- else -%}
			{%- set BULLET = '' -%}
		{%- endif -%}
		
		{%- if  AMAZON_RATINGS_COUNT != '' and AMAZON_RATING != '' -%}
			{%- set placeholder = "" -%}
			{%- if AMAZON_RATINGS_COUNT == '1' -%}
				{%- set placeholder = "ఒకరు" -%}
			{%- elif AMAZON_RATINGS_COUNT == '2' -%}
				{%- set placeholder = "ఇద్దరు" -%}
			{%- elif AMAZON_RATINGS_COUNT == '3' -%}
				{%- set placeholder = "ముగ్గురు" -%}
			{%- elif AMAZON_RATINGS_COUNT == '4' -%}
				{%- set placeholder = "నలుగురు" -%}
			{%- elif AMAZON_RATINGS_COUNT == '5' -%}
				{%- set placeholder = "ఐదుగురు" -%}
			{%- elif AMAZON_RATINGS_COUNT == '6' -%}
				{%- set placeholder = "ఆరుగురు" -%}
			{%- elif AMAZON_RATINGS_COUNT == '7' -%}
				{%- set placeholder = "ఏడుగురు" -%}
			{%- else -%}
				{%- set placeholder = "{} మంది".format(AMAZON_RATINGS_COUNT) -%}
			{%- endif -%}
			{{- "{}'అమెజాన్ బుక్స్' లో {} పాఠకులు ఈ పుస్తకాన్ని చదివి సగటుగా {} రేటింగ్ ను ఇచ్చారు. ".format(BULLET, placeholder, AMAZON_RATING) -}}
			{{- '\n' -}}
		{%- endif -%}

		{% if GOODREADS_RATINGS_COUNT != '' and GOODREADS_RATING != '' %}
			{%- set placeholder = "" -%}
			{%- if GOODREADS_RATINGS_COUNT == '1' -%}
				{%- set placeholder = "ఒకరు" -%}
			{%- elif GOODREADS_RATINGS_COUNT == '2' -%}
				{%- set placeholder = "ఇద్దరు" -%}
			{%- elif GOODREADS_RATINGS_COUNT == '3' -%}
				{%- set placeholder = "ముగ్గురు" -%}
			{%- elif GOODREADS_RATINGS_COUNT == '4' -%}
				{%- set placeholder = "నలుగురు" -%}
			{%- elif GOODREADS_RATINGS_COUNT == '5' -%}
				{%- set placeholder = "ఐదుగురు" -%}
			{%- elif GOODREADS_RATINGS_COUNT == '6' -%}
				{%- set placeholder = "ఆరుగురు" -%}
			{%- elif GOODREADS_RATINGS_COUNT == '7' -%}
				{%- set placeholder = "ఏడుగురు" -%}
			{%- else -%}
				{%- set placeholder = "{} మంది".format(GOODREADS_RATINGS_COUNT) -%}
			{%- endif -%}
			{{- "{}'గుడ్‌రీడ్స్' వెబ్సైట్ {} పాఠకుల సమీక్షల ఆధారంగా ఈ పుస్తకానికి సగటుగా {} రేటింగ్ ను ఇచ్చింది.".format(BULLET, placeholder, GOODREADS_RATING) -}}
			{{- '\n' -}}
		{%- endif -%}

		{%- if LIBRARYTHING_RATING != '' and LIBRARYTHING_REVIEWS_COUNT != '' -%}
			{%- set placeholder = "" -%}
			{%- if LIBRARYTHING_REVIEWS_COUNT == '1' -%}
				{%- set placeholder = "ఒకరి" -%}
			{%- elif LIBRARYTHING_REVIEWS_COUNT == '2' -%}
				{%- set placeholder = "ఇద్దరి" -%}
			{%- elif LIBRARYTHING_REVIEWS_COUNT == '3' -%}
				{%- set placeholder = "ముగ్గురి" -%}
			{%- elif LIBRARYTHING_REVIEWS_COUNT == '4' -%}
				{%- set placeholder = "నలుగురి" -%}
			{%- elif LIBRARYTHING_REVIEWS_COUNT == '5' -%}
				{%- set placeholder = "ఐదుగురి" -%}
			{%- elif LIBRARYTHING_REVIEWS_COUNT == '6' -%}
				{%- set placeholder = "ఆరుగురి" -%}
			{%- elif LIBRARYTHING_REVIEWS_COUNT == '7' -%}
				{%- set placeholder = "ఏడుగురి" -%}
			{%- else -%}
				{%- set placeholder = "{} మంది".format(LIBRARYTHING_REVIEWS_COUNT) -%}
			{%- endif -%}
			{{- "{}ఈ పుస్తకాన్ని 'లైబ్రరీథింగ్' నుండి చదివిన {} పాఠకుల సమీక్షల ఆధారంగా {} రేటింగ్ ఇవ్వబడినది.".format(BULLET, placeholder, LIBRARYTHING_RATING) -}}
			{{- '\n' -}}
		{%- endif -%}

		{% if GOOGLE_BOOKS_RATINGS_COUNT != '' and GOOGLE_BOOKS_RATING != '' -%}
			
			{%- set placeholder = "" -%}
			{%- if GOOGLE_BOOKS_RATINGS_COUNT == '1' -%}
				{%- set placeholder = "ఒకరు" -%}
			{%- elif GOOGLE_BOOKS_RATINGS_COUNT == '2' -%}
				{%- set placeholder = "ఇద్దరు" -%}
			{%- elif GOOGLE_BOOKS_RATINGS_COUNT == '3' -%}
				{%- set placeholder = "ముగ్గురు" -%}
			{%- elif GOOGLE_BOOKS_RATINGS_COUNT == '4' -%}
				{%- set placeholder = "నలుగురు" -%}
			{%- elif GOOGLE_BOOKS_RATINGS_COUNT == '5' -%}
				{%- set placeholder = "ఐదుగురు" -%}
			{%- elif GOOGLE_BOOKS_RATINGS_COUNT == '6' -%}
				{%- set placeholder = "ఆరుగురు" -%}
			{%- elif GOOGLE_BOOKS_RATINGS_COUNT == '7' -%}
				{%- set placeholder = "ఏడుగురు" -%}
			{%- else -%}
				{%- set placeholder = "{} మంది".format(GOOGLE_BOOKS_RATINGS_COUNT) -%}
			{%- endif -%}
			{{- "{}'గూగుల్ బుక్స్' లో {} పాఠకులు ఈ పుస్తకాన్ని చదివి సగటుగా {} రేటింగ్ ను ఇచ్చారు.".format(BULLET, placeholder, GOOGLE_BOOKS_RATING) -}}
			{{- '\n' -}}
		{%- endif -%}
    {%- endif -%}
{%- endmacro -%}

{%- macro awards_received(BOOKS_AWARDS_SECTION) -%}
    {{- '==పురస్కారాలు==' -}}
	{{- '\n' -}}
    {%- if BOOKS_AWARDS_SECTION != '' -%}
        {%- if BOOKS_AWARDS_SECTION|length > 1 -%}
            {{- 'ఈ పుస్తకమునకు లభించిన పురస్కారాలు, లిస్టింగ్స్' -}}
			{{- '\n' -}}
            {%- for i in BOOKS_AWARDS_SECTION -%}
                {{- '* {}'.format(i) -}}
				{{- '\n' -}}
            {%- endfor-%}
        {%- elif BOOKS_AWARDS_SECTION|length == 1 -%}
            {{- 'ఈ పుస్తకము {} పురస్కారమును పొందింది.'.format(BOOKS_AWARDS_SECTION[0]) -}}
			{{- '\n' -}}
        {%- endif-%}
    {%- endif -%}
{%- endmacro -%}

{%- macro display_heading() -%}
	{{- '==ప్రచురిత పుస్తక వివరాలు, లభ్యత==' -}}
	{{- '\n' -}}
{%- endmacro -%}

{%- macro book_editions(BOOK_EDITIONS) -%}
    {%- if BOOK_EDITIONS != '' -%}
        {{- '===ముద్రణలు===' -}}
        {{- '\n' -}}
        {{- 'ఈ పుస్తకం పలు మార్లు ప్రచురించబడినది. వాటి వివరాలు క్రింద ప్రస్తావించబడినవి.' -}}
        {{- '\n' -}} 
        {{- '{| class="wikitable sortable"' -}}
        {{- '\n' -}}
        {{- '|+ పుస్తక ముద్రణలు' -}}
        {{- '\n' -}}
        {{- '|-' -}}
        {{- '\n' -}}
        {{- '! style="text-align:left;" | ప్రచురణకర్త' -}}
		{{- '\n' -}}
		{{- '! style="text-align:left;" | ఆకృతి' -}}
		{{- '\n' -}}
		{{- '! style="text-align:left;" | ప్రచురించిన సంవత్సరం' -}}
		{{- '\n' -}}
		{{- '! style="text-align:left;" | పేజీ లెక్కింపు' -}}
		{{- '\n' -}}
		{{- '! style="text-align:left;" | ఐఎస్‌బిఎన్-13 (ISBN-13)' -}}
        {{- '\n' -}}
        {{- '|-' -}}
        {{- '\n' -}} 
        {%- for i in BOOK_EDITIONS -%}
            {{- '| {} || {} || {} || {} || {}'.format(i[2], i[1], i[3][-4:], i[4], i[0]) -}}
            {{- '\n' -}}
            {{- '|-' -}}
            {{- '\n' -}} 
        {%- endfor -%}
        {{- '|}'-}}
        {{- '\n' -}} 
    {%- endif -%}
{%- endmacro -%}

{%- macro franchise_series(BOOK_SERIES) -%}
    {%- if BOOK_SERIES != '' -%}
		{{-  '===బుక్ సిరీస్===' -}}    
		{{- '\n' -}}
		{{- 'ఈ క్రమములో రచించిన ఇతర పుస్తకాల వివరాలు క్రింద కలవు.' -}}
		{{- '\n' -}}
        {%- for i in BOOK_SERIES -%}
            {{- '* {}'.format(i) -}}
            {{- '\n' -}}  
        {%- endfor -%} 
    {%- endif -%}
    {{- '\n' -}} 
{%- endmacro -%}

{%- macro availability_on_sites(BOOK_TITLE, EBOOK_AVAILABILITY_ON_GOOGLE_BOOKS, EPUB_AVAILABILITY_ON_GOOGLE_BOOKS, PDF_AVAILABILITY_ON_GOOGLE_BOOKS, FORMATS_AND_LINKS, PREVIEW_LINK, UNIV_LINK, WORLDCAT_URL) -%}
	{{- '===లభ్యత===' -}}
	{{- '\n' -}}
    {%- if EBOOK_AVAILABILITY_ON_GOOGLE_BOOKS == True -%}
        {{-  "ఈ పుస్తకం ''గూగుల్ బుక్స్'' అనే వెబ్సైట్ లో, ఈబుక్ (ebook) రూపంలో లభిస్తుంది. " -}}
        {%- if EPUB_AVAILABILITY_ON_GOOGLE_BOOKS == True -%}
            {{- 'ఇదే వెబ్సైట్ లో, పాఠకులు దీన్ని ఈపబ్ (epub) రూపంలో కూడా చదవగలరు. ' -}}
        {%- endif -%}
        
        {%- if PDF_AVAILABILITY_ON_GOOGLE_BOOKS == True -%}
            {{- "ఈ పుస్తకం ''గూగుల్ బుక్స్'' వెబ్సైట్ లో, పీడీఎఫ్ (pdf) రూపంలో కూడా అందుబాటులో ఉన్నది. " -}}
        {%- endif -%}
    {%- elif EPUB_AVAILABILITY_ON_GOOGLE_BOOKS == True -%}
            {{- "ఈ పుస్తకం ''గూగుల్ బుక్స్'' అనే వెబ్సైట్ లో, ఈపబ్ (epub) రూపంలో లభిస్తుంది. " -}}
        {%- if PDF_AVAILABILITY_ON_GOOGLE_BOOKS == True -%}
            {{- "ఈ పుస్తకం ''గూగుల్ బుక్స్'' వెబ్సైట్ లో, పీడీఎఫ్ (pdf) రూపంలో కూడా అందుబాటులో ఉన్నది. " -}}
        {%- endif -%}
    {%- elif PDF_AVAILABILITY_ON_GOOGLE_BOOKS == True -%}
        {{- "ఈ పుస్తకం ''గూగుల్ బుక్స్'' అనే వెబ్సైట్ లో, పీడీఎఫ్ (pdf) రూపంలో లభిస్తుంది. " -}}
    {%- endif -%}
	
	{%- if PREVIEW_LINK != '' -%}
        {{- 'ఈ పుస్తకం ప్రివ్యూను [{} గూగుల్ బుక్స్] లింక్ ద్వారా చూడగలరు.'.format(PREVIEW_LINK) -}}
    {%- endif -%}
    
    {%- if 'ఆడిబుల్ ఆడియోబుక్' in FORMATS_AND_LINKS -%}
        {{- 'పాఠకులు ఈ పుస్తకాన్ని చదవడమే కాకుండా [{} అమెజాన్ ఆడిబుల్] ద్వారా ఆడియో రూపంలో వినగలరు. '.format(FORMATS_AND_LINKS['ఆడిబుల్ ఆడియోబుక్']) -}}
    {%- endif -%}

    {%- if 'కిండిల్' in FORMATS_AND_LINKS -%}
        {{- '[{} అమెజాన్ కిండిల్] అనే యాప్ ద్వారా ఈ పుస్తకాన్ని ఇంకా సులువుగా చదవగలరు. '.format(FORMATS_AND_LINKS['కిండిల్']) -}}
    {%- endif -%}
    
    {%- if WORLDCAT_URL != '' -%}
        {{- 'ప్రపంచంలో ఉన్న వివిధ గ్రంథాలయాలలో ఈ పుస్తక లభ్యత గురించి [{} వరల్డ్ కాట్ వెబ్సైట్] ద్వారా తెలుసుకోగలరు. '.format(WORLDCAT_URL) -}}
    {%- endif -%}
    
    {%- if UNIV_LINK != '' -%}
        {{- 'ఇతర మూలాల నుంచి సేకరించబడిన ఉచిత/చౌక ప్రత్యామ్నాయాలు [{} ఓపెన్ లైబ్రరీ వెబ్సైట్] లో పొందగలరు. '.format(UNIV_LINK) -}}
    {%- endif -%}
    {{- '\n' -}}

    {%- if FORMATS_AND_LINKS != '' -%}
		{{- '\n' -}}
        {{- "''అమెజాన్'' వెబ్‌సైట్ నుండి సేకరించిన ఈ పుస్తకం యొక్క వివిధ ఆకృతులు, వాటి లింక్‌లు క్రింద ఇవ్వబడ్డాయి."-}}
        {{- '\n' -}}
        {%- for i in FORMATS_AND_LINKS -%}
            {{- '* [{} అమెజాన్ {} లింక్]'.format(FORMATS_AND_LINKS[i], i) -}}
            {{- '\n' -}}
        {%- endfor -%}
    {%- endif -%}
    {{- '\n' -}}
{%- endmacro -%}

{%- macro see_more(AUTHOR_OTHER_WORKS, PUBLISHER_COLLECTION, AUTHOR_NAME, PUBLISHER) -%}
	{{- '==మరింత సమాచారం==' -}}
    {{- '\n' -}}
	{%- if AUTHOR_OTHER_WORKS != '' -%}
		{{- [
			'{} రచించిన ఇతర పుస్తకాల వివరాలను కింద చూడగలరు.'.format(AUTHOR_NAME),  
			'{} ఇతర రచనలను కింద చూడగలరు.{}'.format(AUTHOR_NAME), 
			'క్రింద పేర్కొన్న పుస్తకాలు {}చే రచింపబడినవి.{}'.format(AUTHOR_NAME) ]|random -}}
		{{- '\n' -}}
		
		{%- if AUTHOR_OTHER_WORKS|length > 10 -%}
			{%- set AUTHOR_OTHER_WORKS = AUTHOR_OTHER_WORKS[:6]-%}
		{%-endif-%}

		{%- for i in AUTHOR_OTHER_WORKS -%}
            {{- '* {}'.format(i) -}}
        	{{- '\n' -}}
        {%- endfor -%}
	{%-endif-%}
	{{- '\n' -}}
	{%- if PUBLISHER_COLLECTION != '' -%}
		{{- [
			'{} ప్రచురించిన ఇతర పుస్తకాల వివరాలను కింద చూడగలరు.'.format(PUBLISHER), 
			'క్రింద పేర్కొన్న పుస్తకాలు {}చే  ప్రచురింపబడినవి.'.format(PUBLISHER) ]|random -}}
        {{- '\n' -}}
		
		{%- if PUBLISHER_COLLECTION|length > 10 -%}
			{%- set PUBLISHER_COLLECTION = PUBLISHER_COLLECTION[:6]-%}
		{%-endif-%}

		{%- for i in PUBLISHER_COLLECTION -%}
            {{- '* {}'.format(i) -}}
        	{{- '\n' -}}
		{%- endfor -%}
	{%- endif -%}
	{{- '\n' -}}	
{%- endmacro -%}

{%- macro references() -%}
	{{- '==మూలాలు==' -}}
    {{- '\n' -}}
    {{- '{{reflist}}' -}}
	{{- '\n' -}}
{%- endmacro -%}

{%- macro categories(CATEGORIES) -%}
	{%- if CATEGORIES != '' -%}
		{%- for i in CATEGORIES -%}
			{{- '{}'.format(i) -}}
			{{- '\n' -}}
		{%- endfor -%}
	{%- endif -%}
{%- endmacro -%}

{#- Function calls below -#}

{{- infobox(BOOK_IMAGE, AUTHORS, BOOK_TITLE, SUBTITLE, LANGUAGE, GENRE, PUBLISHER, PUBLISHED_YEAR, PAGE_COUNT, DIMENSIONS, ISBN13, ISBN10, OCLC) -}}

{{- introduction(BOOK_TITLE, SUBTITLE, PUBLISHED_YEAR, BOOK_TITLE_ENGLISH, AUTHORS_INTRO, PUBLISHER, PUBLISHER_ENGLISH, LANGUAGE, GENRE, BOOK_AWARDS) -}}

{{- characters_and_summary(CHARACTERS, BOOK_SUMMARY) -}}

{{- about_the_author(LANGUAGE, AUTHOR_NAME, AUTHOR_NAME_ENGLISH, AUTHORS_INTRO, AUTHOR_NATIONALITY, AUTHOR_EDUCATION, AUTHOR_STATS, AUTHOR_LIBRARY_HOLDINGS, AUTHOR_GENRE, AUTHOR_NOTABLE_WORKS, AUTHOR_AWARDS, AUTHORS) -}}

{{- book_ratings(MATURITY_RATING, MATURITY_RATING_ENGLISH, AMAZON_RATING, AMAZON_RATINGS_COUNT, GOODREADS_RATING, GOODREADS_RATINGS_COUNT, GOOGLE_BOOKS_RATING, GOOGLE_BOOKS_RATINGS_COUNT, LIBRARYTHING_RATING, LIBRARYTHING_REVIEWS_COUNT) -}}

{{- awards_received(BOOKS_AWARDS_SECTION) -}}

{{- display_heading() -}}

{{- book_editions(BOOK_EDITIONS) -}}

{{- franchise_series(BOOK_SERIES) -}}

{{- availability_on_sites(BOOK_TITLE, EBOOK_AVAILABILITY_ON_GOOGLE_BOOKS, EPUB_AVAILABILITY_ON_GOOGLE_BOOKS, PDF_AVAILABILITY_ON_GOOGLE_BOOKS, FORMATS_AND_LINKS, PREVIEW_LINK, UNIV_LINK, WORLDCAT_URL) -}}

{{- see_more(AUTHOR_OTHER_WORKS, PUBLISHER_COLLECTION, AUTHOR_NAME, PUBLISHER) -}}

{{- references() -}}

{{- categories(CATEGORIES) -}}
