{%- macro Book_Editions() -%}
    {%- if book_editions -%}
            {{- "==వెలువడిన సంచికలు==" -}}
        {{- '\n' -}}
            {{- "ఈ పుస్తకం పలు సంచికలలో ప్రచురించబడినది. వాటిలో కొన్ని క్రింద ప్రస్తావించబడినవి. " -}}
        {{- '\n' -}} 
        {{- '{| class="wikitable"' -}}
        {{- '\n' -}}
        {{- '|+ Book Editions' -}}
        {{- '\n' -}}
        {{- '|-' -}}
        {{- '\n' -}}
            {{- '! ఐఎస్ బీ ఎన్ సంఖ్య || ప్రచురణకర్త || ఆకృతి || ప్రచురించిన తేదీ || పేజీ లెక్కింపు' -}}
        {{- '\n' -}}
        {{- '|-' -}}
        {{- '\n' -}} 
        {%- for i in book_editions -%}
            {{- "| {} || {} || {} || {} || {}".format(i[0], i[2], formats_in_telugu[i[1]], i[3], i[4]) -}}
            {{- '\n' -}}
            {{- "|-" -}}
            {{- '\n' -}} 
        {%- endfor -%}
        {{- '|}'-}}
    {%- endif -%}
{%- endmacro -%}

{#- Function call below -#}
{{- Book_Editions() -}}
