{%- macro infobox() -%}
	{{- "{{infobox" -}}
	{{- '\n' -}}
	{{- '| title = {}'.format(book_title) -}}
	{{- '\n' -}}
	{%- if authors -%}
	    {{- '| header2 = ' -}}
	    {{- '\n' -}}
	    {{- "| label2 = {}".format('Author') -}}
	    {{- '\n' -}}
	    {{- "| data2 = {}".format(authors[0]) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if book_title -%}
	    {{- '| header3 = ' -}}
	    {{- '\n' -}}
	    {{- "| label3 = {}".format('Original title') -}}
	    {{- '\n' -}}
	    {{- "| data3 = {}".format(book_title) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if subtitle -%}
	    {{- '| header4 = ' -}}
	    {{- '\n' -}}
	    {{- "| label4 = {}".format('Subtitle') -}}
	    {{- '\n' -}}
	    {{- "| data4 = {}".format(subtitle) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if language -%}
	    {{- '| header5 = ' -}}
	    {{- '\n' -}}
	    {{- "| label5 = {}".format('Language') -}}
	    {{- '\n' -}}
	    {{- "| data5 = {}".format(language) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if categories -%}
	    {{- '| header6 = ' -}}
	    {{- '\n' -}}
	    {{- "| label6 = {}".format('Genre') -}}
	    {{- '\n' -}}
	    {{- "| data6 = {}".format(categories) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if publisher -%}
	    {{- '| header7 = ' -}}
	    {{- '\n' -}}
	    {{- "| label7 = {}".format('Publisher') -}}
	    {{- '\n' -}}
	    {{- "| data7 = {}".format(publisher) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if published_date -%}
	    {{- '| header8 = ' -}}
	    {{- '\n' -}}
	    {{- "| label8 = {}".format('Publication date') -}}
	    {{- '\n' -}}
	    {{- "| data8 = {}".format(published_date) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if page_count -%}
	    {{- '| header9 = ' -}}
	    {{- '\n' -}}
	    {{- "| label9 = {}".format('Pages') -}}
	    {{- '\n' -}}
	    {{- "| data9 = {}{}".format(page_count,REF_GG) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if Dimensions -%}
	    {{- '| header10 = ' -}}
	    {{- '\n' -}}
	    {{- "| label10 = {}".format('Dimensions') -}}
	    {{- '\n' -}}
	    {{- "| data10 = {}{}".format(Dimensions,REF_AM) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if isbn_13 -%}
	    {{- '| header11 = ' -}}
	    {{- '\n' -}}
	    {{- "| label11 = {}".format('ISBN-13') -}}
	    {{- '\n' -}}
	    {{- "| data11 = {}".format(isbn_13) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if isbn_10 -%}
	    {{- '| header12 = ' -}}
	    {{- '\n' -}}
	    {{- "| label12 = {}".format('ISBN-10') -}}
	    {{- '\n' -}}
	    {{- "| data12 = {}".format(isbn_10) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if worldcat_oclc_number -%}
	    {{- '| header13 = ' -}}
	    {{- '\n' -}}
	    {{- "| label13 = {}".format('OCLC') -}}
	    {{- '\n' -}}
	    {{- "| data13 = {}".format(worldcat_oclc_number) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{{- '}}' -}}
	{{- '\n' }}
{%- endmacro -%}


{%- macro intro(book_title, subtitle, published_date, authors, publisher,language, categories, description, maturity_rating) -%}
	
    {{ "\n==పరిచయం==\n"}}
            
        {%- set line1A = [book_title,' అను పుస్తకం ']|join('') -%}
        {%- set line1B = [book_title,' అనే పేరుగల పుస్తకం ']|join('') -%}
        
        {%- if published_date|length==4-%}
            {%- set line2A =  [published_date,' సంవత్సరం లో విడుదల అయింది. ']|join('') -%}
        {%- else -%}
            {%- set line2A =  [published_date,' నాడు విడుదల అయింది. ']|join('') -%}
        {%- endif -%}
        

        {%- set authors_string = authors|join(', ') -%}

            {%-if published_date==''-%}
                {%- set line3A = [authors_string,' చే రచింపబడింది. ']|join('') -%}
                {%- set line3B = [authors_string,' చే రచింపబడింది. ']|join('') -%}
            {%-else-%}
                {%- set line3A = [' దీనిని ',authors_string,' రచించారు. ']|join('') -%}
                {%- set line3B = [' ఈ పుస్తకం ',authors_string,' చే రచింపబడింది. ']|join('') -%}
            {%-endif-%}

        {%- set line4A = [publisher,' అనే సంస్థ ఈ పుస్తకాన్ని ప్రచురించింది. ']|join('') -%}
        {%- set line4B = [publisher,' అనే సంస్థ ఈ పుస్తకాన్ని ప్రచురించే కర్తవ్యాన్ని నిర్వర్తించింది. ']|join('') -%}

        {%- set line5A = ['ఈ పుస్తకం ', language ,' భాషలో ప్రచురింపబడినది. ']|join('') -%}
        {%- if authors|length>1 -%}
            {%- set line5B = ['రచయితలు ఈ పుస్తకాన్ని ', language ,' భాషలో రచించారు. ']|join('') -%}
        {%- else -%}
            {%- set line5B = ['ఈ పుస్తకం ', language ,' భాషలో ప్రచురింపబడినది. ']|join('') -%}
        {%-endif-%}

        {%- set line6A = [categories, ' రచనాశైలి లో ఈ పుస్తకం వ్రాయబడినది. ']|join('') -%}
        {%- set line6B = [categories, ' రచనాశైలి లోని అనేక అంశాలు ఈ పుస్తకం లో కొట్టొచ్చినట్లు కనిపిస్తాయి. ']|join('') -%}

        {%- set line7A  = ['ఈ పుస్తకానికి ' ,maturity_rating,' రేటింగ్ ఇవ్వబడినది. ',REF_GG]|join('')-%}
        {%- set line7B  = ['సాంఘిక ప్రమాణాలకు అనుగుణంగా ఈ పుస్తకానికి ',maturity_rating,' వ రేటింగ్ కేటాయించబడినది. ',REF_GG]|join('') -%}
        
        {{-[ line1A, line1B ]|random-}}

        {%- if subtitle!=''-%}
            {%- set auxLine1 = [' (ఉప శీర్షిక: ' ,subtitle,' ) ']|join('')-%}
            {{-auxLine1-}}
        {%- endif -%}

        {{-line2A-}}
        {{-[ line3A, line3B ]|random-}}
        {{-[ line4A, line4B ]|random-}}
        {{-[ line5A, line5B ]|random-}}
        {{-[ line6A, line6B ]|random-}}

        {%- if description!=''-%}
            {%- set auxLine2 = [description,' అనేది ఈ పుస్తక నేపథ్యమును సంగ్రహ పరుస్తుంది. ']|join('')-%}
            {{-auxLine2-}}
        {%- endif -%}

        {{-[ line7A, line7B ]|random-}}

{%- endmacro -%}


{%- macro summary( librarything_characters, librarything_book_summary,author1_image) -%}
	
    {%- if librarything_characters=='' and librarything_book_summary =='' -%}
        {%- if author1_image!=''-%}
            {{-['[[',author1_image,'|thumb|187x187px|రచయిత]]']|join('') -}}
        {%- endif -%}
    
    {%- else -%}
    
        
        {{"\n==పుస్తకంలోని విషయాల వివరాలు==\n"}}
                
            
            {%- if librarything_characters != '' -%}
                {{"\n===పాత్రలు===\n"}}
                {%- set lenlis = librarything_characters|length -%}
                {{-['ఈ పుస్తకం లో కనిపించే పాత్రలు',REF_LT]|join('')-}}
                {%-for i in range(0,lenlis)-%}
                    {{-"\n"-}}
                    {{['* ',librarything_characters[i]]|join('')}}
                {%- endfor -%}
            {%- endif -%}
                
            {%- if librarything_book_summary != '' -%}
                {{-"\n"-}}
                {{"\n===కథానిక===\n"}}
                {{- ['ఈ పుస్తకం కథానిక','- ',librarything_book_summary,REF_LT]|join('') -}}
            {%- endif -%}
            
            {{-"\n"-}}
            {%- if author1_image!=''-%}
                {{-['[[File:',author1_image,'|thumb|187x187px|రచయిత]]']|join('') -}}
            {%- endif -%}

    {%-endif-%}
        

{%- endmacro -%}



{%- macro awardsReceived(goodreads_awards) -%}
	
    {{ "\n==పురస్కారాలు==\n"}}
        
        {%- if goodreads_awards != '' -%}
            
            {%- set line1A = ['ఈ పుస్తకం ఎన్నో పురస్కారాలను గెలుచుకుంది. ']|join('') -%}
            {%- set line1B = ['ఈ పుస్తకం ఎన్నో అవార్డులతో సన్మానించబడింది. ']|join('') -%}

            {%- set awardslen = goodreads_awards|length-%}

            {%- set line3A  = ' వాటిలో కొన్ని ప్రాముఖ్యత చెందిన పురస్కారాలు',REF_GR,'- '-%}
            {%- set line3B  = ' వాటన్నింటిలో కొన్ని ముఖ్యమైనవి',REF_GR,'-  ' -%}
            
            {{-[ line1A, line1B ]|random-}}

            {%-for i in range(0,awardslen)-%}
                    {{-"\n"-}}
                    {{['* ',goodreads_awards[i]]|join('')}}
                {%- endfor-%}


            {{-[ line3A, line3B ]|random-}}

        {%- else -%}

           {# {{'ఈ పుస్తకం చేజిక్కించుకున్న అవార్డుల జాబితాకు సంబంధించిన డేటా అందుబాటులో లేకపోవడం వలన వాటిని ఈ వ్యాసంలో విశ్లేషించలేకపోయాము.'}} #}
           {# removed this statement because we've been told to keep sections empty if no data is available #}
        {%- endif -%}

{%- endmacro -%}



{%- macro ratingsReceived(bestseller_rank, amazon_ratings_count, amazon_rating, ratings_count, average_rating, goodreads_ratings_count, goodreads_rating, librarything_reviews, librarything_avg_rating) -%}

    {{ "\n==రేటింగ్స్==\n"}}

        {{-'ఈ పుస్తకాన్ని ఎంతో మంది చదివి ఆదరించారు.'-}}
        
        {%- if bestseller_rank != '' -%}
            
            {%- set line2A = [' ఈ పుస్తకాన్ని అమెజాన్ అనే వెబ్‌సైట్ కొనుగోళ్ల ఆధారంగా ',bestseller_rank, ' అనే ర్యాంక్ ని కేటాయించింది. '] |join('') -%}
            {%- set line2B = [' అమెజాన్ అనే వెబ్ సైట్ లో ఈ పుస్తకానికి జరిగిన విక్రయాల ఆధారంగా దీనికి ',bestseller_rank, ' వ ర్యాంకును కేటాయించింది. '] |join('') -%}
            {{[line2A, line2B]|random}}

        {%- endif -%}
        
        {{"\n"}}

        {%- set opener_3A = ''-%}
        {%- set infodict = ({'anyExists':0,'amazonExists':0,'goodreadsExists':0,'librarythingExists':0,'googlebooksExists':0}) -%}

        {%- if amazon_ratings_count!='' and amazon_rating!='' -%}
            {%- set _dummy = infodict.update({'amazonExists':1}) -%}
            {%- set _dummy = infodict.update({'anyExists':1}) -%}
        {%- endif -%}
        
        {%- if goodreads_ratings_count!='' and goodreads_rating!='' -%}
            {%- set _dummy = infodict.update({'goodreadsExists':1}) -%}
            {%- set _dummy = infodict.update({'anyExists':1}) -%}
        {%- endif -%}

        {%- if librarything_reviews!='' and librarything_avg_rating!='' -%}
            {%- set _dummy = infodict.update({'librarythingExists':1}) -%}
            {%- set _dummy = infodict.update({'anyExists':1}) -%}
        {%- endif -%}

        {%- if ratings_count!='' and average_rating!='' -%}
            {%- set _dummy = infodict.update({'googlebooksExists':1}) -%}
            {%- set _dummy = infodict.update({'anyExists':1}) -%}
        {%- endif -%}

        {%- if infodict['anyExists']==0 -%}

           {# {%- set opener_3A = 'ఈ పుస్తకం విక్రయాలకు సంబంధించిన వివరాల కొరత ఉండడం వలన ఈ వ్యాసం లో వాటిని విశ్లేషించలేకపోయాము. '-%} #}
           {# {{opener_3A}} #}
        
        {%- else -%}
            
            {%- set lis = [] -%}
            {%- set lineslis = [] -%}

            {% if infodict['amazonExists']==1 %}
                {%- set _dummy = lis.append('అమెజాన్') -%}
                {%- set temp = ['\'అమెజాన్ బుక్స్\' లో ', amazon_ratings_count, ' మంది ఈ పుస్తకాన్ని చదివి సగటుగా ', amazon_rating, ' స్టార్స్ రేటింగ్ ను ఇచ్చారు. ',REF_AM] |join('')-%}
                {%- set _dummy = lineslis.append(temp) -%}
            {%- endif -%}

            {% if infodict['goodreadsExists']==1 %}
                {%- set _dummy = lis.append('గుడ్ రీడ్స్') -%}
                {%- set temp = ['\'గుడ్ రీడ్స్\' అనే వెబ్సైటు ',goodreads_ratings_count, ' పాఠకుల అభిప్రాయాలను సేకరించి ఈ పుస్తకానికి సగటు గా ',goodreads_rating,' రేటింగ్ ను ఇచ్చింది. ',REF_GR] |join('')-%}
                {%- set _dummy = lineslis.append(temp) -%}
            {%- endif -%}

            {% if infodict['librarythingExists']==1 %}
                {%- set _dummy = lis.append('లైబ్రరీ థింగ్') -%}
                {%- set temp = ['ఈ పుస్తకాన్ని \'లైబ్రరీథింగ్\' నుండి చదివి సమీక్ష ఇచ్చిన ', librarything_reviews, ' మంది వారి అభిప్రాయాన్ని తెలియ చేస్తూ సగటున ',librarything_avg_rating, ' స్టార్స్ రేటింగ్ ను ఇచ్చారు. ',REF_LT] |join('')-%}
                {%- set _dummy = lineslis.append(temp) -%}
            {%- endif -%}

            {% if infodict['googlebooksExists']==1 %}
                {%- set _dummy = lis.append('గూగుల్ బుక్స్') -%}
                {%- set temp = ['\'గూగుల్ బుక్స్\' లో ', ratings_count, ' మంది ఈ పుస్తకాన్ని చదివి సగటుగా ', average_rating, ' స్టార్స్ రేటింగ్ ను ఇచ్చారు. ',REF_GG] |join('')-%}
                {%- set _dummy = lineslis.append(temp) -%}
            {%- endif -%}

          

            {%- set lenlis = lis|length -%}

            {%- if lenlis == 1 -%}

                {%- set opener_3A = linelis[0]-%}
                {{opener_3A}}

            {%- else -%}
                {%- if lenlis==2 -%}
                    {%- set temp = [lis[0], ', ', lis[1],' అనే వెబ్సైట్లలో ఈ పుస్తకానికి లభించిన ఆదరణాభిమానాల గణాంకాలు క్రింద వివరించబడినవి. '] |join('')-%}
                {% else %}
                    {%- set temp = [lis[0], ', ', lis[1],' వంటి అనేక వెబ్సైట్లలో ఈ పుస్తకానికి లభించిన ఆదరణాభిమానాల గణాంకాలు క్రింద వివరించబడినవి. '] |join('')-%}
                {% endif %}
            
                {%- set opener_3A = temp -%}
                {{opener_3A}}

                {%-for i in range(0,lenlis)-%}
                    {{-"\n"-}}
                    {{['* ',lineslis[i]]|join('')}}
                {%- endfor-%}
            
            {%- endif -%}

        {%- endif -%}
    
    
{%- endmacro -%}



{%- macro aboutAuthor(author1_name,author1_nationality,author1_education,author1_stats,author1_library_holdings,author1_genre,author1_notable_works,author1_awards_received) -%}
	
    {{"\n==రచయిత గురించి==\n"}}
        
    {%- set line1A = [author1_name,' అనే రచయిత ',author1_nationality,' దేశానికి చెందిన వారు.'] |join('')-%}
    {%- set line1B = ['రచయితలందరిలో ఎంతో సుప్రసిద్ధులైన  ',author1_name,' ',author1_nationality,' దేశ వాస్తవ్యులు.'  ]|join('')-%}
    {{-[line1A, line1B] | random-}}


    {%- if author1_education != '' -%}
        {%-if author1_education=='private education'-%}
            {%- set line2A = [' వారు ఎటువంటి సరైన పాఠశాలకు వెళ్లకుండా ప్రైవేట్ శిక్షణ ద్వారా విద్యాభ్యాసాన్ని పూర్తి చేశారు. '] |join('')-%}
        {%-else-%}
            {%- set line2A = [' వారు  '  ,author1_education,' లో విద్యాభ్యాసం పూర్తి చేశారు. '] |join('')-%}
            {%- set line2B = [' వారు  '  ,author1_education,' లో చదువుకున్నారు . '] |join('')-%}
            {{-[ line2A, line2B ] | random-}}
        {%-endif-%}    
    {%-endif-%}

    {%- if author1_stats != '' and author1_library_holdings!= '' -%}
        {%- set line3A = [author1_stats, ' రచించిన వారి పేరిట ',author1_library_holdings,' కలవు.'] |join('')-%}
        {{-line3A-}}
    {%-endif-%}

    {%- set genrelis = author1_genre|join(', ')-%}
    {%- set line4A =  [author1_name,' ',genrelis, ' సాహిత్య శైలి లోని పుస్తకాలకు రచయితగా కీర్తికెక్కారు.',REF_WC]|join('')-%}
    {{-line4A-}}
    
    {%- set notablelis = author1_notable_works|join(', ')-%}
    {%- set line5A =  ['వారు చేసిన ఎన్నో రచనలలో ', notablelis ,'ప్రఖ్యాతి చెందినవి.',REF_LT] |join('')-%}
    {{-line5A-}}

    {%- if author1_awards_received !='' -%}
        {%- set awardslis = author1_awards_received|join(', ')-%}
        {%- set line6A =  ['వారిని ఎన్నో పురస్కారాలు వరించాయి.  వాటిలో కొన్ని', awardslis,' .',REF_AU] |join('')-%}
        {{-line6A-}}
    {%- endif -%}

    
{%- endmacro -%}


{%- macro display_heading() -%}
{{-"\n==ప్రచురిత పుస్తక వివరాలు, లభ్యత==\n"-}}
{%- endmacro -%}


{%- macro Book_Editions() -%}
    {%- if book_editions -%}
                {{- "===వెలువడిన సంచికలు===" -}}
        {{- '\n' -}}
                {{- ["ఈ పుస్తకం పలు సంచికలలో ప్రచురించబడినది. వాటిలో కొన్ని క్రింద ప్రస్తావించబడినవి.",REF_GG]|join('') -}}
        {{- '\n' -}} 
        {{- '{| class="wikitable"' -}}
        {{- '\n' -}}
                {{- '|+ పుస్తక సంచికలు' -}}
        {{- '\n' -}}
        {{- '|-' -}}
        {{- '\n' -}}
                {{- '! ఐఎస్ బీ ఎన్ సంఖ్య || ప్రచురణకర్త || ఆకృతి || ప్రచురించిన సంవత్సరం/తేదీ || పేజీ లెక్కింపు' -}}
        {{- '\n' -}}
        {{- '|-' -}}
        {{- '\n' -}} 
        {%- for i in book_editions -%}
            {{- "| {} || {} || {} || {} || {}".format(i[0], i[2], formats_in_telugu[i[1]], i[3], i[4]) -}}
            {{- '\n' -}}
            {{- "|-" -}}
            {{- '\n' -}} 
        {%- endfor -%}
        {{- '|}'-}}
        {{- '\n' -}} 
    {%- endif -%}
    
{%- endmacro -%}

{%- macro franchise_series() -%}
    {%- if book_series -%}
                {{-  "===పుస్తక శ్రేణి===" -}}    
        {{- '\n' -}}
                {{- ['ఈ పుస్తకం మరిన్ని పుస్తకాలతో ఒక శ్రేణిలో భాగంగా ప్రచురితమయ్యింది. అదే శ్రేణి లో విడుదల అయిన ఇతర పుస్తకాల పేర్లు క్రింద కలవు.',REF_GG]|join('') -}}
        {{- '\n' -}}  
        {%- for i in range(book_series|length) -%}
                        {{- '* సిరీస్ లో ఉన్న పుస్తకము {}: {}'.format(i+1, book_series[i]) -}}
            {{- '\n' -}}  
        {%- endfor -%} 
    {%- endif -%}
    {{- '\n' -}} 
{%- endmacro -%}

{%- macro availability_on_sites() -%}
{{-  "===లభ్యత===" -}}
{{- '\n' -}}
    {#- EBOOK, EPUB and PDF availability on Google books -#}
    {%- if ebook_availability_on_google_books == True -%}
                {{-  'ఈ పుస్తకం "గూగుల్ బుక్స్" అనే వెబ్సైట్ లో, ఈబుక్(ebook) రూపంలో లభిస్తుంది. ' -}}
        {%- if epub_availability_on_google_books == True -%}
                        {{- 'ఇదే వెబ్సైట్ లో, పాఠకులు దీన్ని ఈపబ్(epub) రూపంలో కూడా చదవగలరు. ' -}}
        {%- endif -%}
        
        {%- if pdf_availability_on_google_books == True -%}
                        {{- 'ఈ పుస్తకం "గూగుల్ బుక్స్" వెబ్సైట్ లో, పీడీఎఫ్(pdf) రూపంలో కూడా అందుబాటులో ఉన్నది. ' -}}
        {%- endif -%}
    {%- elif epub_availability_on_google_books == True -%}
                {{- 'ఈ పుస్తకం "గూగుల్ బుక్స్" అనే వెబ్సైట్ లో, ఈపబ్(epub) రూపంలో లభిస్తుంది. ' -}}
        {%- if pdf_availability_on_google_books == True -%}
                        {{- 'ఈ పుస్తకం "గూగుల్ బుక్స్" వెబ్సైట్ లో, పీడీఎఫ్(pdf) రూపంలో కూడా అందుబాటులో ఉన్నది. ' -}}
        {%- endif -%}
    {%- elif pdf_availability_on_google_books == True -%}
                {{- 'ఈ పుస్తకం "గూగుల్ బుక్స్" అనే వెబ్సైట్ లో, పీడీఎఫ్(pdf) రూపంలో లభిస్తుంది. ' -}}
    {%- endif -%}
    
    
     {%- if ebook_availability_on_google_books == True or epub_availability_on_google_books == True or pdf_availability_on_google_books == True-%}
        {{- REF_GG -}}
    {%- endif -%} 


    {#- Preview link -#}
    {%- if preview_link != "" -%}
        {{- 'ఈ పుస్తకంలోని ఒక స్వల్ప సంచికను మీరు ఈ లింక్ [{} గూగుల్ బుక్స్ ప్రివ్యూ లింక్] ద్వారా చూడగలరు. '.format(preview_link) -}}
    {%- endif -%}
    
    {{- '\n\n' -}}
    
    {#- Audiobook and Kindle -#}
    {%- if 'Audible Audiobook' in formats_and_links -%}
                {{- 'పాఠకులు ఈ పుస్తకాన్ని చదవడమే కాకుండా [{} అమెజాన్ ఆడిబుల్ ఆడియోబుక్ లింక్] ద్వారా ఆడియో రూపంలో వినగలరు. '.format(formats_and_links['Audible Audiobook']) -}}
    {%- endif -%}
    {%- if 'Kindle' in formats_and_links -%}
                {{- 'అమెజాన్ కిండిల్ అనే యాప్ లో [{} అమెజాన్ కిండెల్ లింక్] ద్వారా ఇంకా సులువుగా చదవగలరు. '.format(formats_and_links['Kindle']) -}}
    {%- endif -%}
    {{- '\n\n' -}}
    
    {#- Other sites -#}
    {%- if formats_and_links != "" -%}
                {{-  'ఈ పుస్తకం గురించి అదనపు  వివరాలు అందించే మూలాలు - ' -}}
        {{- '\n' -}}
                {{-  '*అమెజాన్ వెబ్‌సైట్ నుండి సేకరించిన పుస్తకం యొక్క వివిధ ఆకృతులు, వాటి లింక్‌లు క్రింద ఇవ్వబడ్డాయి: ' -}}
        {{- '\n' -}}
        {%- for i in formats_and_links -%}
            {{- '** {}: [{} అమెజాన్ {} లింక్]'.format(formats_in_telugu[i], formats_and_links[i], formats_in_telugu[i]) -}}
            {{- '\n' -}}
        {%- endfor -%}
    {%- endif -%}
    {{- '\n' -}}
    
    {#- Worldcat link -#}
    {%- if worldcat_url != "" -%}
                {{-  '* ప్రపంచంలో ఉన్న వివిధ గ్రంథాలయాలలో ఈ పుస్తకం లభ్యతను తెలియజేసే లింక్ - [{} వరల్డ్ కాట్ వెబ్సైట్ లింక్]'.format(worldcat_url) -}}
        {{- '\n' -}}
    {%- endif -%}
    
    {#- Free resources link -#}
    {%- if univ_link != "" -%}
                {{-  '* ఇతర మూలాల నుంచి సేకరించబడిన ఉచిత/చౌక  ప్రత్యామ్నాయాలు [{} ఓపెన్లైబ్రరీ ] వెబ్సైట్ లో పొందగలరు. '.format(univ_link) -}}
        {{- '\n' -}}
    {%- endif -%}
{%- endmacro -%}


{%- macro see_more(author1_name, author1_notable_works,publisher, publisher_collection) -%}
	{{-"\n==మరిన్ని పుస్తకాలను చూడండి==\n\n"-}}

	 {%- set authors_name_line=[
									author1_name + ' చే రచింపబడిన మరిన్ని పుస్తకాలను కింద చూడగలరు.',

									'క్రింద ఉన్న పుస్తకాలు ' + author1_name + ' చే రచింపబడినవి.,'

								] | random
	-%}



	{{authors_name_line}}
    {{-REF_GG-}}

	{{- '\n\n' -}}

	{%- if author1_notable_works!=' ' -%}
		
		{%- for author in author1_notable_works -%}

        		*{{author}}
        		{{- '\n' -}}

        {%- endfor -%}

	{%-endif-%}

	{{- '\n\n' -}}


	{%- set publisher_line=[
									publisher + ' చే ప్రచురింపబడిన మరిన్ని పుస్తకాలను కింద చూడగలరు.',
									'క్రింద ఉన్న పుస్తకాలు'+" "  + publisher + " " +'చే ప్రచురింపబడినవి. '

								] | random
	-%}

	{{publisher_line}}
    {{-REF_GG-}}

	{{- '\n\n' -}}

	{%- if publisher_collection!=' ' -%}
		
		{%- for publisher in publisher_collection -%}
		*{{publisher}}
		{{- '\n' -}}
		{%- endfor -%}
	{%- endif -%}

	{{- '\n\n' -}}	
	
{%- endmacro -%}

	{{- '\n\n' -}}



{%- macro references() -%}

	{{-"\n==మూలాలు==\n\n"-}}

    {{"{{reflist}}"}}

{%- endmacro -%}

{%- macro categories_printer() -%}
{{-"\n"-}}
{{-CATEGORY_YEAR-}}
{{-CATEGORY_GENRE-}}

{%- endmacro -%}

{{- infobox() -}}
{{- intro(book_title, subtitle, published_date, authors, publisher,language, categories, description, maturity_rating) -}}
{{- summary( librarything_characters, librarything_book_summary, author1_image) -}}
{{- aboutAuthor(author1_name,author1_nationality,author1_education,author1_stats,author1_library_holdings,author1_genre,author1_notable_works,author1_awards_received) -}}
{{- ratingsReceived(bestseller_rank, amazon_ratings_count, amazon_rating, ratings_count, average_rating, goodreads_ratings_count, goodreads_rating, librarything_reviews, librarything_avg_rating) -}}
{{- awardsReceived(goodreads_awards) -}}
{{- display_heading() -}}
{{- Book_Editions() -}}
{{- franchise_series() -}}
{{- availability_on_sites() -}}
{{- see_more(author1_name, author1_notable_works,publisher, publisher_collection) -}}
{{- references() -}}
{{- categories_printer() -}}
