{%- macro about_the_author() -%}
        {{- "==ముఖ్య రచయిత గురించి==" -}}
    {{- '\n' -}}
    {%- if author1_name and author1_nationality -%}  
        {%- set line1A = [author1_name,' అనే రచయిత ',author1_nationality,' దేశానికి చెందిన వారు.'] |join('')-%}
        {%- set line1B = ['రచయితల రంగం లో ఎంతో సుప్రసిద్ధమైన ',author1_name,' ',author1_nationality,' దేశ వాస్తవ్యులు.'  ]|join('')-%}
        {{-[line1A, line1B] | random-}}
    {%- endif -%}

    {%- if author1_education -%}
        {%- set line2A = ['అతను/ఆమె '  ,author1_education,' లో విద్యాభ్యాసం పూర్తి చేశారు. '] |join('')-%}
        {%- set line2B = ['అతను/ఆమె '  ,author1_education,' లో చదువుకున్నారు . '] |join('')-%}
        {{-[ line2A, line2B ] | random-}}
    {%-endif-%}

    {%- if author1_stats and author1_library_holdings -%}
        {%- set line3A = [author1_stats, ' రచించిన అతని పేరిట ',author1_library_holdings,' కలవు.'] |join('')-%}
        {{-line3A-}}
    {%-endif-%}

    {%- if author1_genre -%}
        {%- set genrelis = author1_genre|join(', ')-%}
        {%- set line4A =  [author1_name,' ',genrelis, ' సాహిత్య శైలి లోని పుస్తకాలకు రచయితగా కీర్తికెక్కారు.'] |join('')-%}
        {{- line4A -}}
    {%- endif -%}
    
    {%- if author1_notable_works -%}
        {%- set notablelis = author1_notable_works|join(', ')-%}
        {%- set line5A =  ['అతను/ఆమె చేసిన ఎన్నో రచనలలో ', notablelis ,'ప్రఖ్యాతి చెందినవి.'] |join('')-%}
        {{-line5A-}}
    {%- endif -%}

    {%- if author1_awards_received -%}
        {%- set awardslis = author1_awards_received|join(', ')-%}
        {%- set line6A =  ['అతనిని/ఆమెని ఎన్నో పురస్కారాలు వరించాయి.  వాటిలో కొన్ని', awardslis,' .' ] |join('')-%}
        {{- line6A -}}
    {%- endif -%}
    {{- '\n' -}}
{%- endmacro -%}

{#- Function call below -#}
{{- about_the_author() -}}
