{%- macro awards() -%}
	{%- if awards_list -%}
                {{- "==పురస్కారాలు==" -}}
        {{- '\n' -}}
        {%- set line1A = ['ఈ పుస్తకం ఎన్నో పురస్కారాలను గెలుచుకుంది. ']|join('') -%}
        {%- set line1B = ['ఈ పుస్తకం ఎన్నో అవార్డులతో సన్మానించబడింది. ']|join('') -%}
        {{- [ line1A, line1B ]|random -}}
        {%- set line2A  = ' వాటిలో కొన్ని ప్రాముఖ్యత చెందిన పురస్కారాలు: '-%}
        {%- set line2B  = ' వాటన్నింటిలో కొన్ని ముఖ్యమైనవి:  ' -%}
        {{- [ line2A, line2B ]|random -}}
        {{- '\n' -}}
        {%- for i in awards_list -%}
            {{- "* {}".format(i) -}}
            {{- '\n' -}}
        {%- endfor -%}

    {%- else -%}
                {{- 'ఈ పుస్తకం చేజిక్కించుకున్న అవార్డుల జాబితాకు సంబంధించిన డేటా అందుబాటులో లేకపోవడం వలన వాటిని ఈ వ్యాసంలో విశ్లేషించలేకపోయాము.' -}}
    {%- endif -%}
{%- endmacro -%}

{#- Function call below -#}
{{- awards() -}}
