{%- macro franchise_series() -%}
    {%- if book_series -%}
                {{-  "==పుస్తక శ్రేణి==" -}}    
        {{- '\n' -}}
                {{- 'ఈ పుస్తకం మరిన్ని పుస్తకాలతో ఒక శ్రేణిలో భాగంగా ప్రచురితమయ్యింది. అదే శ్రేణి లో విడుదల అయిన ఇతర పుస్తకాల పేర్లు క్రింద కలవు. ' -}}
        {{- '\n' -}}  
        {%- for i in range(book_series|length) -%}
                        {{- '* సిరీస్ లో ఉన్న పుస్తకము {}: {}'.format(i+1, book_series[i]) -}}
            {{- '\n' -}}  
        {%- endfor -%} 
    {%- endif -%}
{%- endmacro -%}

{#- Function call -#}
{{- franchise_series() -}}
