{%- macro infobox() -%}
	{{- "{{infobox" -}}
	{{- '\n' -}}
	{{- '| title = {}'.format(book_title) -}}
	{{- '\n' -}}
	{%- if authors -%}
	    {{- '| header2 = ' -}}
	    {{- '\n' -}}
	    {{- "| label2 = {}".format('Author') -}}
	    {{- '\n' -}}
	    {{- "| data2 = {}".format(authors[0]) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if book_title -%}
	    {{- '| header3 = ' -}}
	    {{- '\n' -}}
	    {{- "| label3 = {}".format('Original title') -}}
	    {{- '\n' -}}
	    {{- "| data3 = {}".format(book_title) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if subtitle -%}
	    {{- '| header4 = ' -}}
	    {{- '\n' -}}
	    {{- "| label4 = {}".format('Subtitle') -}}
	    {{- '\n' -}}
	    {{- "| data4 = {}".format(subtitle) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if language -%}
	    {{- '| header5 = ' -}}
	    {{- '\n' -}}
	    {{- "| label5 = {}".format('Language') -}}
	    {{- '\n' -}}
	    {{- "| data5 = {}".format(language) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if categories -%}
	    {{- '| header6 = ' -}}
	    {{- '\n' -}}
	    {{- "| label6 = {}".format('Genre') -}}
	    {{- '\n' -}}
	    {{- "| data6 = {}".format(categories) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if publisher -%}
	    {{- '| header7 = ' -}}
	    {{- '\n' -}}
	    {{- "| label7 = {}".format('Publisher') -}}
	    {{- '\n' -}}
	    {{- "| data7 = {}".format(publisher) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if published_date -%}
	    {{- '| header8 = ' -}}
	    {{- '\n' -}}
	    {{- "| label8 = {}".format('Publication date') -}}
	    {{- '\n' -}}
	    {{- "| data8 = {}".format(published_date) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if page_count -%}
	    {{- '| header9 = ' -}}
	    {{- '\n' -}}
	    {{- "| label9 = {}".format('Pages') -}}
	    {{- '\n' -}}
	    {{- "| data9 = {}".format(page_count) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if Dimensions -%}
	    {{- '| header10 = ' -}}
	    {{- '\n' -}}
	    {{- "| label10 = {}".format('Dimensions') -}}
	    {{- '\n' -}}
	    {{- "| data10 = {}".format(Dimensions) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if isbn_13 -%}
	    {{- '| header11 = ' -}}
	    {{- '\n' -}}
	    {{- "| label11 = {}".format('ISBN-13') -}}
	    {{- '\n' -}}
	    {{- "| data11 = {}".format(isbn_13) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if isbn_10 -%}
	    {{- '| header12 = ' -}}
	    {{- '\n' -}}
	    {{- "| label12 = {}".format('ISBN-10') -}}
	    {{- '\n' -}}
	    {{- "| data12 = {}".format(isbn_10) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{%- if worldcat_oclc_number -%}
	    {{- '| header13 = ' -}}
	    {{- '\n' -}}
	    {{- "| label13 = {}".format('OCLC') -}}
	    {{- '\n' -}}
	    {{- "| data13 = {}".format(worldcat_oclc_number) -}}
	    {{- '\n' -}}
	{%- endif -%}
	
	{{- '}}' -}}
	{{- '\n' }}
{%- endmacro -%}

{#- Function call below -#}
{{- infobox() -}}
