{%- macro ratingsReceived() -%}
        {{- "==రేటింగ్స్==" -}}
    {{- '\n' -}}
        {{-'ఈ పుస్తకాన్ని ఎంతో మంది చదివి ఆదరించారు. అమెజాన్, గుడ్ రీడ్స్ వంటి అనేక వెబ్సైట్లలో ఈ పుస్తకానికి లభించిన ఆదరణాభిమానాల గణాంకాలు క్రింద వివరించబడినవి. '-}}
    {{- '\n' -}}
    {%- if amazon_ratings_count and amazon_rating -%}
                {{- "* '''అమెజాన్''' వెబ్సైటు లో {} మంది ఈ పుస్తకాన్ని చదివి సగటుగా {} స్టార్స్ రేటింగ్ ను ఇచ్చారు ".format(amazon_ratings_count, amazon_rating) -}}
        {{- '\n' -}}
    {%- endif -%}
    
    {%- if ratings_count and average_rating -%}
                {{- "* '''గూగుల్ బుక్స్''' లో {} మంది ఈ పుస్తకాన్ని చదివి సగటుగా {} స్టార్స్ రేటింగ్ ను ఇచ్చారు ".format(ratings_count, average_rating) -}}
        {{- '\n' -}}
    {%- endif -%}
    
    {%- if goodreads_ratings_count and goodreads_rating -%}
                {{- "* '''గుడ్ రీడ్స్''' అనే వెబ్సైటు {} పాఠకుల అభిప్రాయాలను సేకరించి ఈ పుస్తకానికి సగటు గా {} రేటింగ్ ను ఇచ్చింది.  ".format(goodreads_ratings_count, goodreads_rating) -}}
        {{- '\n' -}}
    {%- endif -%}
    
    {%- if librarything_reviews and librarything_avg_rating -%}
                {{- "* ఈ పుస్తకాన్ని '''లైబ్రరీథింగ్''' నుండి చదివి సమీక్ష ఇచ్చిన వారి సంఖ్య {} వారి అభిప్రాయాన్ని తెలియ చేస్తూ సగటున {} స్టార్స్ రేటింగ్ ను ఇచ్చారు ".format(librarything_reviews, librarything_avg_rating) -}}
        {{- '\n' -}}
    {%- endif -%}
    
    {%- if Best_Sellers_rank -%}
            {{- "ఈ పుస్తకాన్ని '''అమెజాన్''' వెబ్‌సైట్ కొనుగోళ్ల  ఆధారంగా బెస్ట్ సెల్లర్స్ ర్యాంక్ అనే ర్యాంక్ ని కేటాయించింది. ఈ వివరాలు క్రింద ఇవ్వబడ్డాయి: "  -}}
        {{- '\n' -}}
        {%- for i in Best_Sellers_rank -%}
            {{- '* {}'.format(i) -}}
            {{- '\n' -}}
        {%- endfor -%}
    {%- endif -%}
{%- endmacro -%}

{#- Function call below -#}
{{- ratingsReceived() -}}
